.appointments-container {
  margin: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #333;
}

.appointments-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.appointments-table th, .appointments-table td {
  border: 1px solid #a58383;
  padding: 10px;
  text-align: left;
}

.appointments-table th {
  background-color: #007BFF;
  color: rgb(179, 162, 162);
}

.appointments-table tr:nth-child(even) {
  background-color: #705b5b;
}

.appointments-table tr:hover {
  background-color: #928080;
}
