
<div class="form-container">
  <mat-card class="form-card">
    <mat-card-title>Complete your profile </mat-card-title>
    <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="MALE">Male</mat-option>
          <mat-option value="FEMALE">Female</mat-option>
          <mat-option value="OTHER">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Date of Birth</mat-label>
        <input matInput type="date" formControlName="dob" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Weight (kg)</mat-label>
        <input matInput type="number" formControlName="weight" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Height (cm)</mat-label>
        <input matInput type="number" formControlName="height" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="submitted">
        Submit
      </button>
    </form>
  </mat-card>
</div>
